:root {
    --firts-color: #E1CA71;
    --black-color: #000;
    --white-color: #fff;
    --grey-color: #1e1d1d;
    --spm: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --Elg: 28px;
    --Xlg: 32px;
    --XXlg: 48px;
    --Font-family-2: 'Antic Didone', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family:'Montserrat', sans-serif;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}


.inactive {
    display: none;
}

/*Boton general*/

/*  Btn General */

.simpleBtn {
    padding-top: 18px;
    font-size: var(--md);
    font-weight: bold;
    height: 36px;
    width: 231px;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 16px;

}



.simpleBtn:hover {
    color: rgb(10, 10, 10) ;
  box-shadow: 0 4px 16px rgb(225,202,113);
  transition: all 0.2s ease;

}
/* Botones generales */

.simpleBtn--login {
    background-color: var(--black-color);
    border: 1px solid var(--firts-color);
    color: white;
}


.simpleBtn:hover {
  color: white;
  box-shadow: 0 4px 16px rgb(225,202,113);
  transition: all 0.2s ease;

}

.bntServicios {
    border: none;
    margin-top: 16px;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    width: 231px;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 16px;
    cursor: pointer;
}

.bntServicios:hover {
      color: rgb(10, 10, 10) ;
      box-shadow: 0 4px 16px rgb(225,202,113);
      transition: all 0.2s ease;
    
    }

.btn-mobile-menu {
    display: none;
    margin: 16px;
}
/* Menu Desktop */

nav {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: bold;
}
 
nav .btn-login {
 display: flex;
 justify-content: end;
}

nav .btn-login a {
    text-decoration: none;
}



.logo {
    margin: 16px;
}

.logo img {
    margin: auto;
    width: 100px;
    margin: 5px;
}

.logo-metacrypto {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo-metacrypto .logoMetacrypto {
width: 52px; 
}




.menuDesktop {
    display: flex;
    
    align-items: center;
}


.menuDesktop ul {
    display: flex;
    list-style: none;
    

}

.link {
    position: relative;
}

.link::after {
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--firts-color);
    position: absolute;
    bottom: -5px;
    right: 50%;
    transition: all .5s;
    will-change: width;
}

.link:hover::after {
    width: 100%;
    right: 0;
}

.menuDesktop ul a{
    margin: 16px;
    text-decoration: none;
    color: var(--white-color);
}

/* Mobile menu  */

.menuMobile {
    position: absolute;
    top: 100px;
    background-color: var(--black-color);
    width: 100%;
    z-index: 9999;
  }
  
  .menuMobile ul {
    font-size: var(--lg);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menuMobile ul li {
    margin: 16px;
  }
  
  .menuMobile ul a {
    text-align: center;
    text-decoration: none;
    color: var(--white);
  }


/* Hero Image */

.heroImage {
height: 100vh;
display: flex;
justify-content:flex-start;
align-items: center;
color: #fff;
}

.heroImageContent {
max-width: 40rem;
padding-left: 16px;
margin: auto;
text-align: left;
}

.heroImage-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heroImage-video video {
    min-height: 100%;
    min-width: 100%;
}

.heroImage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--black-color);
    z-index: 1;
    opacity: .60;
}

.heroImage-content {
    font-size: var(--Elg);
    z-index: 2;
}



.contributions__items a  {
    text-decoration: none;
    color: #000;
} 

 .contributions__items .simpleBtn:hover {
    color: rgb(10, 10, 10) ;
  box-shadow: 0 4px 16px rgb(225,202,113);
  transition: all 0.2s ease;

}

/* Contribution section*/

.contributions {
    width: 100;
    margin: 0;
    background-color: var(--black-color);
    color: var(--white-color);
    align-items: center;
    

}


.contributionsTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    height: 300px;
    text-align: center;
    background-color: var(--grey-color);
}

.contributions__parrafo1 {
    font-size: var(--Xlg);
    font-weight: 400;
    line-height: 0.5;
}

.contributions__parrafo2{
    font-weight: 100;
    font-size: 26px;
    font-style: italic;
    margin-top: 0;
}

.contributions__parrafo1 span {
    font-size: 62px;
    text-align: end;
    color: var(--firts-color);
    position: relative;
    top: 32px;
}

.contributions__parrafo1 .span-experto {
    color: var(--firts-color);
    font-size: var(--Xlg);
    position: static;
}

.contributions__items {
    font-size: var(--);
    margin: auto;
    max-width: 1080px;
    padding: 16px;
}


.contributions__items h2 {
    text-align: center;
    margin: 32px auto;
    font-size: var(--XXlg);

}
.contributionsIteam {
   display: grid;
   grid-template-columns: repeat(4,25%);
  justify-content: space-evenly;
  align-content: center;
  padding: 16px;
  color: #A6A6A6;
  font-weight: 400;
}

.contributionsIteam div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
}

.contributionsIteam div img {
 width: 200px;
}

.contributions .simpleBtn {
    margin: 32px auto;
}

/* Social Information */

.socialInformation {
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
    background-color: var(--black-color);

}

.socialInformation hr {
    height: 1px;
    width: 90%;
    background-color: #fff;
}


.courseContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.courseContent div {
   margin: 16px;
   text-align: center;
}

.courseContent div span {
    font-size: 50px;
    font-weight: bold;
}

/* About Us*/
.aboutUs {
    margin: auto;
    width: 100%;
    --opacidad-negro: 0.7;
    background-image: url("./AssetsWeb/Darkerbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .aboutUs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--opacidad-negro));
    z-index: -1;
  }
  


.aboutUs div {
   width: 900px;
   margin-left: 200px;
   margin-top: 200px;
  
}

.aboutUs div h2 {

   text-align: center;
    font-size: var(--XXlg);
}


.aboutUs div p {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    padding: 16px;
}



/* Pilares*/
.pillarsContainer {
    max-width: 100%;
    text-align: center;
    margin: 48px;
}

 .pillarsTitle {
    font-size: var(--XXlg);
    font-weight: bold;
 }

 .pillars {
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
 }

 .pillars div {
    width: 375px;
    margin: 12px;
    height: 500px;
    border-radius: 16px;
}
 






 .pillarsClub {
    width: 100%;
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./AssetsWeb/Fondo\ pilares\ club.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 

 .pillarsCardsTitle{
    font-size: 42px;
    color: var(--firts-color);
 }

 .pillarsAcademy {
    width: 100%;
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./AssetsWeb/Fondo\ pilares\ academia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .pillarsResources {
    width: 100%;
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./AssetsWeb/Fondo\ pilares\ recursos.jpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

.pillarsContent {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
 .pillarsContent p {
    font-size: var(--lg);
    font-weight: 500;
    margin-bottom: 2px;
 }

 /*  About Funder */


 .aboutFunderContainer {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;

}
 
.aboutFunderText {
    max-width: 800PX;
    font-size: 20px;
    font-weight: 600;
}

 .aboutFunderText h3 {
    font-size: var(--Xlg);
    font-weight: bold;
    color: var(--firts-color);
    text-align: center;
    padding: 16px;
 }

.aboutFunderContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 32px;
}

.aboutFunderText :nth-child(6) {
    font-weight: bold;
    font-size: var(--lg);
    color: var(--firts-color);
}


.aboutFunderImage img {
    width: 350px;
    margin: 32px;
}


/* planes */


.planesContainer {
display: flex;
flex-direction: column;
justify-content: center;
height: 800px;
text-align: center;
padding-top: 32px;
margin: auto;
margin-top: 32px;
margin-bottom: 32px;
--opacidad-negro: 0.8;
background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./AssetsWeb/fondometacrypto.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.planesContainer h2 {
    font-size: var(--XXlg);

    
}

.planesContainer > p {
    margin: 16px auto;
    font-size: 23px;
    font-weight: 400;
    color: var(--firts-color);
}

.pla .simpleBtn {

    margin: 32px auto;
    font-size: 18px;
    font-weight: bold;
}

.planesContainer a  {
    margin: 16px auto;
    text-decoration: none;
    color: #000;
} 

.planesContainer .simpleBtn:hover {
    color: rgb(10, 10, 10) ;
  box-shadow: 0 4px 16px rgb(225,202,113);
  transition: all 0.2s ease;

}


/*          Carrucel    */

.carrucelTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    --opacidad-negro: 0.8;
 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carrucelTitle h2 {
    font-size: var(--XXlg);

    
}

.carrucelTitle > p {
    margin: 16px auto;
    font-size: var(--Elg);
    font-weight: 400;
    color: var(--firts-color);
}

.carrucelTitle .simpleBtn {
    margin: 32px auto;
    font-size: 18px;
    font-weight: bold;
}

.carrucelTitle a  {
    text-decoration: none;
    color: #000;
} 

.carrucelTitle .simpleBtn:hover {
    color: rgb(10, 10, 10) ;
  box-shadow: 0 4px 16px rgb(225,202,113);
  transition: all 0.2s ease;

}

.parrafoFlotante {
    text-align: center;
    font-size: var(--XXlg);
    font-weight: bold;
    margin-top: 48px;
}

.swiper {
    text-align: left;
    width: 100%;
    height: 100%;
    margin-left: 32px;
  }

  .swiper-slide p {
    font-size: var(--md);
    margin-bottom: 8px;
    text-align: left;
    line-height: 1.5;
  }

 .swiper-slide p:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    text-align: left;
    line-height: 2;
    padding-left: 16px;
    color: var(--firts-color);
 }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 18px;
    line-height: 0.5;
    background: var(--black-color);
    padding: 16px;

    /* Center slide text vertically */
    display: flex;
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./AssetsWeb/Fondo\ Multiusos.jpg");
    border-radius: 16px;
    
  }

  .swiper-wrapper {

    display: flex;
    flex-wrap: nowrap;
    padding-left: 32px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next{
    right: 26px !important;
    color: var(--firts-color) !important;
}

.swiper-button-prev {
    color: var(--firts-color) !important;
    left: 26px !important;
}

.slider-vacio {
    width: 500px;
    background-color: #000;
    background-image: none;


}

.slider-mobile {
    display: none;
}

 .plansIteamContainer a  {
    text-decoration: none;
    color: #000;
} 

.plansIteamContainer .simpleBtn:hover {
    color: rgb(10, 10, 10) ;
  box-shadow: 0 4px 16px rgb(225,202,113);
  transition: all 0.2s ease;

}

/* Contenido academia new */

.cursos {
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: 46px;
}

 .cursosTitle h2 {
    margin: auto;
    text-align: center;
    font-size: var(--XXlg);
}




.cursosContainer {
    margin: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}


/* Curso altura y anchura */
  

.cursosContainer  img{
    margin: 16px;
    width: 300px;
    max-height: 600px;
    border-radius: 16px;
    cursor: pointer;
    
}



/* Curso Basico */



.hover-img {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
  }
  
  .imagen-hover {
    display: none;
  }

  .imagen-hover {
    position: relative;
    display: inline-block;
  }


  
  .imagen-hover:hover .hover-img {
    display: block;
    opacity: 1;
    transform: translateY(0%);
  }
  
  .imagen-hover:hover img:first-child {
    transform: scale(1.0);
    transition: transform 0.5s ease-in-out;
  }



  /* Curso Intermedio */
  


  .hover-img2 {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
  }
  
  .imagen-hover2 {
    position: relative;
    display: inline-block;
  }
  
  .imagen-hover2:hover .hover-img2 {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .imagen-hover2:hover img:first-child {
    transform: scale(1.0);
    transition: transform 0.5s ease-in-out;
  }


  /* Curso Avanzado */
  
  .hover-img3 {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
  }
  
  .imagen-hover3 {
    position: relative;
    display: inline-block;
  }
  
  .imagen-hover3:hover .hover-img3 {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .imagen-hover3:hover img:first-child {
    transform: scale(1.0);
    transition: transform 0.5s ease-in-out;
  }

/* curso Experto  */

.hover-img4 {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
  }
  
  .imagen-hover4 {
    position: relative;
    display: inline-block;
  }
  
  .imagen-hover4:hover .hover-img4 {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .imagen-hover4:hover img:first-child {
    transform: scale(1.0);
    transition: transform 0.5s ease-in-out;
  }

  
/* curso Elite  */

.hover-img5 {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
  }
  
  .imagen-hover5 {
    position: relative;
    display: inline-block;
  }
  
  .imagen-hover5:hover .hover-img5 {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .imagen-hover5:hover img:first-child {
    transform: scale(1.0);
    transition: transform 0.5s ease-in-out;
  }


/* Plans */

.plans {
 
    margin-top: 60px;
    margin-bottom: 48px;
    
}

.plansHeader {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plansHeaderText p:nth-child(1) {
    font-size: var(--XXlg);
    font-weight: bold;
    text-align: center;
}

.plansHeaderText p:last-child {
    font-size: var(--lg);
    color: #cccc;
    text-align: center;
}

.plansIteamContainer {
    margin: auto;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;

}

.plansItemBackground {
    background-color: #151515;
    border: solid 1px  #cccc;
    border-radius: 16px;
    padding: 12px;

}

.plansItem1 .plansItemBackground {
    border: solid 4px var(--firts-color);
}

.plansItemBackground p:first-child {
    font-size: var(--lg);
    color: var(--firts-color);
}

.plansItemBackground p span {
    font-size: var(--Xlg);
    font-weight: bold;
}

.plansItemBackground p:nth-child(3) {
    color: var(--firts-color);
}

.plansItemBackground ul {
    text-align: left;
    line-height: 2;
    color: #cccc;
    
}

.plansItem1 .plansItemBackground p:first-child{
    font-size: var(--Xlg);

}

.plansItem1 p:last-child {
    margin: 16px auto;
}

.plansItem2 p:last-child {
    margin: 16px auto;
}

.plansItem3 p:last-child {
    margin: 16px auto;
}


/* Modal */

.modal {
 display: none;
 background: rgba(0, 0, 0, 0.4);
 width: 100vw;
 height: 100vh;
 top: 0;
 left: 0;
 position: fixed;
 padding: 20px;
 justify-content: center;
 align-items: center;
 z-index: 100;
}

.modalContainer {
 background-color: var(--black-color);
 min-width: 275px;
 max-width: 80%;
 max-width: 800px;
 padding: 20px;
 border: solid 5px var(--firts-color);
 position: relative;
}

.closeModal {
    background-color: var(--firts-color);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    border-radius: 50%;
    position: absolute;
    right: 9px;
    top: 9px;
    cursor: pointer;
}

.modalContent {
    text-align: center;
}

.modalContent h2 {
    font-family: var(--Font-family-2);
    text-align: center;
    font-size: var(--XXlg);

}

.pagos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: bold   ;
    justify-content: space-around;
    padding: 32px;
}



.pagosTarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagosTarjeta .pagosTarjeta1 {
    width: 300px;
    
}

.pagosTarjeta1 {
    animation-name: moverArribaAbajo;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes moverArribaAbajo {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(10px);
    }
  }
  
  
  


.pagosTarjeta .pagosTarjeta2 {
    width: 100px;
}


.pagosCrypto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



/* estilos de los botones en modal */

#button1, #button2 {
    border: none;
    margin-top: 16px;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    width: 231px;
    text-align: center;

    border-radius: 16px;
}


#button1 a {
    text-decoration: none;
    color: inherit;
   }
   


#button2 a {
 text-decoration: none;
 color: inherit;
}



/* Modal footer */

.politicasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.politicasContainer a {
    color: white;
}

#checkbox {
    width: 20px;
    height: 20px;
}

.PoliticasContacto {
    font-family: var(--Font-family-2);
    font-size: var(--Xlg);
}

.PoliticasContacto span a {
    font-family: 'Montserrat', 'Antic Didone', sans-serif;
    font-family: var(--lg);
    color: var(--firts-color);
}






.pagosCrypto img {
    width: 300px;
}

.pagos button {
    margin-top: 32px;
}


 /* Estilos unicos para el mas popular */
.morePopular {
    position: relative;
}

.morePopular p:nth-child(2) {
    color: var(--firts-color); 
}

.morePopular p:nth-child(3) {
    color: var(--white-color); 
}

.morePopular p:nth-child(4) {
    color: var(--firts-color); 
}


.triangle-topleft{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 152px solid var(--black-color);
    border-left: 104px solid transparent;
}

.triangle-topleft2 {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 152px solid var(--black-color);
    border-left: 104px solid transparent;
}


    
  
  .text-block {
    font-size: 16px;
    color: white;
    text-align: center;
    position: relative;
    top: -147px;
    left: -82px;
    font-weight: bold;
    padding: 5px;
    transform: rotate(55deg);
    align-items: center;
  }

  .text-block2{
    font-size: 16px;
    color: white;
    text-align: center;
    position: relative;
    top: -150px;
    left: -85px;
    font-weight: bold;
    padding: 5px;
    transform: rotate(55deg);
    align-items: center;
  }


.desactive {
    opacity: 0.5;
}

  /* Embajadore section*/

  .embajadoresContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;
    background-image: url(./AssetsWeb/fondoembajadores2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.embajadoresContainer p:nth-child(1) {
    margin: 32px auto 16px;
    font-size: var(--XXlg);
    font-weight: bold;
    text-align: center;
    border-radius: 16px;
    padding-top: 16px;
}

.embajadoresContainer .embajadoresSecondTitle {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    
    color: #cccc;
}

.embajadoresBeneficiosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.embajadoresBeneficios {
    margin: auto;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 72%;

}

.embajadoresBeneficios p {
    font-size: var(--Elg);
}

.embajadoresBeneficios img {
    width: 150px;
    margin: 6px;
}

 .embajadoresSmall {
    font-size: var(--lg);
    font-weight: bold;
    text-align: end;
}


/* Call to action */


.callToActionContainer {
    position: relative;
    height: 80vh;
    margin-top: 400px;
  }
  
  .callToAction video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Opacidad del overlay */
    z-index: 2;
  }
  
  .callToAction-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    color: #fff;
    margin: auto;
    z-index: 3;
  }

  
  
  .callToAction-content h2 {
    font-size: var(--XXlg);
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .callToAction-content > p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .callToAction-content a {
    text-decoration: none;
 
  }

  .callToActionBoton {
    padding-top: 18px;
    font-size: var(--lg);
    font-weight: bold;
    height: 36px;
    width: 231px;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 16px;
    
  }
  
  .callToActionBoton:hover {
    color: rgb(10, 10, 10) ;
  box-shadow: 0 4px 16px rgb(225,202,113);
  transition: all 0.2s ease;
  }

/* FAQ*/

.FAQ { 
    margin: auto;
    width: 90%;
    max-width: 120em;
    background-color: var(--black-color);
    padding: 32px;
}

.FAQ > h2{
    margin: 16px;
    text-align: center;
}



.FAQ .bloque{

    margin: 0 0 16px;
    padding: 6px;
    cursor: pointer;
}

.FAQ .FAQ-titulo {
    border: solid 1px var(--firts-color);
    margin: 0 0 16px;
    padding: 16px;
    font-size: var(--md);
}

.FAQ .contenido {    
        
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.FAQ .bloque.activo .contenido {
    height: 64px;
    padding: 16px;
}



/* SECCION TESTIMONIOS */


.carrucelTitle--testimonio {
    margin: 64px;
}


.swiper-modificated {
    width: 70%;
}


.swiper-slide--testimonio {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonios__item1 {
    margin: auto;
 width: 150px;
 height: 150px;
 border-radius: 50%;
 background-image: url(./AssetsWeb/Testimonio\ 1.jpg);
 background-size: cover;
 background-position-x: center;
 background-repeat: no-repeat;
}

.testimonios__item2 {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./AssetsWeb/Testimonio\ 2.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
   }

   .testimonios__item3 {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./AssetsWeb/Testimonio\ 3.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
   }


.swiper-slide--testimonio p {
    text-align: center;
}


  /* Footer */

    footer {
        background-color: #151515;
        text-align: center;
    }

    .redes-sociales-container{
        text-align: center;
        width: 300px;
        margin: auto;
        padding-top: 32px;
        font-size: var(--sm);
 
    }

    .redes-sociales-container  p:nth-child(1) {
        font-weight: bold;
        font-size: 26px;
    }

    .redes-sociales-container  p:nth-child(2) {
        font-size: var(--sm)
    }



   .icono-redes-sociales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

   .icono-redes-sociales img {
    width: 40px;
  }

  .icono-redes-sociales a {
    text-decoration: none;
    color: var(--white);
  }

  .icono-redes-sociales a img:hover {
    width: 50px;
    transition: all 0.60s 0s ease;
  }

 .terminos {
    margin: auto;
    width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
 }

 .terminos a {
    color: var(--white);
 }

 .copyright {
    font-size: 12px;
    padding-bottom: 16px;
 }


@media (max-width: 768px) { 

    /* Desktop menu*/

    nav {
        position: relative;
        justify-content: space-between;
    }

    .logo {
        margin: 16px auto;
    }
   .menuDesktop {
      display: none;
    }

    /* Menu Mobile*/
  
    .btn-mobile-menu {
      display: block;
    }

    /*  Hero Image */

    .heroImage-content {
        font-size: var(--lg);
    }

    .simpleBtn {
        padding-top: 10px;
        font-size: var(--spm);
        height: 24px;
        width: 170px;
    }


    /* Contributions */

    .contributionsIteam {
        grid-template-columns: repeat(2,50%);
    }

    .contributions__parrafo1, .contributions__parrafo2 {
        font-size: var(--md);
    }

    .contributions__parrafo1 .span-experto {
        font-size: var(--md); }

    /*course Content */
    
    .courseContent {
        flex-direction: column;
    }
  
    /* About Us */
    .aboutUs  {
            margin: auto;
            width: 100%;
            height: 600px;
        align-items: center;
    }

    .aboutUs h2 {
        font-size: var(--Xlg);
    }

    .aboutUs div {
        width: 260px;
        margin: auto;
    }

    .aboutUs div p {
        font-size: var(--md);
    }
  
    /* About funder*/


    .aboutFunderContent {
        padding: 0px;
        margin-top: 32px;
    }

    .aboutFunderText {
        width: 90%;
    }

    .aboutFunderImage img {
        width: 340px;
    }



     /* Carrucel */
    .carrucelTitle h2 {
        font-size: var(--lg);
    }


    .carrucelTitle p {
        font-size: 12px;
        font-weight: 400;

  }

  .carrucelTitle .simpleBtn {
    font-size: 12px;
  }


  .swiper-slide p {
    font-size: 10px;

  }

  .swiper-slide p:nth-child(1) {
    max-width: 250px;
    font-size: 12px;
    line-height: 1.5;

  }

  
    /*Embajadores*/ 

    .embajadoresContainer p:nth-child(1) {
        font-size: var(--lg);
        width: 300px;
    }

    .embajadoresContainer .embajadoresSecondTitle {
        font-size: var(--md);
        width: 300px;
        margin: auto
    }

    .embajadoresBeneficios img {
        width: 100px;
    }

    .embajadoresBeneficios p {
        font-size: var(--md);
    }

    .embajadoresSmall {
        padding: 16px;
    }


        /* Call To Action*/

        .callToActionContainer {
            padding: 10px;
        }
    
        .callToActionContainer .callToActionContent img {
            width: 180px;
        }
    
        .callToActionContent {
            width: 600px;
        }
    
        .callToActionContent  p:nth-child(2) {
            font-size: var(--Xlg);
            width: 500px;
        }
    
        .callToActionContent p:nth-child(3) {
            font-size: var(--md);
           
        }
    
          /*FAQ*/

    .FAQ .FAQ-titulo {
        font-size: var(--sm);
    }
    
    .FAQ .contenido {    
        font-size: 12px;
    }

    .FAQ .bloque.activo .contenido {
        height: auto;
        padding: 16px;
    }



/* SECCION TESTIMONIOS */
.swiper-modificated {
    width: 100%;
}
}

  @media (max-width: 400px) {


        /* Call To Action*/

        .callToActionContainer {
            padding: 6px;
        }
    
        .callToActionContainer .callToActionContent img {
            width: 150px;
        }
    
        .callToActionContent {
            width: 300px;
        }
    
        .callToActionContent  p:nth-child(2) {
            font-size: var(--Elg);
            width: 300px;
        }
    
        .callToActionContent p:nth-child(3) {
            font-size: var(--md);
           
        }


    .contributionsTitle {
        height: 300px;
    }


    .contributions__parrafo1 {
        line-height: 1;
    }

    .contributionsIteam {
        grid-template-columns: repeat(1,90%);
    }

    /* Carrucel slider */
 

    .slider-mobile {
        display: block;
    }
    

  /* Plans*/


  .plansItemBackground { 
    width: 80%;
    margin: 32px auto;
  }

  .triangle-topleft {
    position: absolute;
    top: 1px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 111px solid var(--black-color);
    border-left: 74px solid transparent;
  
  }

  .triangle-topleft2 {
    position: absolute;
    top: 1px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 111px solid var(--black-color);
    border-left: 74px solid transparent;
  
  }
  .text-block {
    color: white;
    text-align: center;
    position: relative;
    top: -117px;
    left: -61px;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    transform: rotate(57deg);
    align-items: center; }

    .text-block2 {
        color: white;
        text-align: center;
        position: relative;
        top: -117px;
        left: -61px;
        font-weight: bold;
        font-size: 12px;
        padding: 5px;
        transform: rotate(57deg);
        align-items: center; }


    /* Footer*/

    .terminos {
        width: 290px;
    }
  
    /* Modal */
    
.modalContent h2 {
    font-size: var(--lg);

}

.pagos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: bold   ;
    justify-content: space-around;
    padding: 32px;
}



.pagosTarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagosTarjeta .pagosTarjeta1 {
    width: 100px;
    animation: 0.1s ease infinite  up-down ;
    
}


.pagosTarjeta .pagosTarjeta2 {
    width: 50px;
}


.pagosCrypto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* Modal footer */

.politicasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.politicasContainer label {
    font-size: 10px;
}


#checkbox{
    width: 12px;
    height: 12px;
}

.PoliticasContacto {
    font-size: var(--md);
}

.PoliticasContacto span a {
    font-family: 'Montserrat', 'Antic Didone', sans-serif;
    font-family: var(--lg);
    color: var(--firts-color);
}


.pagosCrypto img {
    width: 100px;
}

#button1, #button2{
    
    margin-top: 16px;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    width: 120px;

}


  }


