@media (max-width: 400px) {
        
    /* Body */

    body {
        width: 100vw;
    }

    /* Menu */

    .simpleBtn--login {
        width: 90px;
        height: 30px;
        padding-top: 10px;
        font-size: var(--spm);

    }


    .logo img{
        width: 100px;
    }




}